<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
    <title>Title</title>
</head>
<body>
<h1>Spring Lesson Five</h1>
<ul>
    <li><a href="./">Главная</a></li>
    <li><a href="./form">Добавить новый продукт</a></li>
</ul>
<h3>Список продуктов</h3>
<div>
    <ul>
        <li th:each="product : ${products}">
            <a th:href="@{./details(id=${product.id})}">
                <span th:text="${product.title}" >...</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>