<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Homework</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="body_contaiter">
    <div class="header">
        <div class="links">
            <div class="links_item">
                <a href="./">Main</a>
            </div>
            <div class="links_item">
                <a href="./cart">Cart</a>
            </div>
        </div>
        <div class="project_name">
            <h1>Spring Lesson Four Hometask</h1>
        </div>
    </div>
    <div class="content_box cart_box">
        <div class="cart_content" th:each="product : ${cart.cartContent}">
            <h2 th:text="${product.name}">...</h2>
            <p>
                <span>Price: </span>
                <span th:text="${product.price}" >...</span>
            </p>
            <a class="content_button cart_button" th:href="@{./cart/delete(id=${product.id})}" >Delete</a>
        </div>
        <div class="cart_content">
            <h2>Total price:
                <span th:text="${cart.total}">... </span>
            </h2>
            <p>
                <span>Total products: </span>
                <span th:text="${cart.count}" >...</span>
            </p>
            <a class="content_button cart_button" th:href="@{./cart/submit}" >Submit</a>
        </div>
    </div>
    <div class="footer">
        <div class="info">
            <hr>
            <h4 class="copyright">&#xA9 Koristos</h4>
        </div>
    </div>
</body>
</html>